{% extends 'base-bootstrap.html' %}

{% block title %}Careers Page{% endblock %}

{% block content %}

<h1>Careers Page</h1>
<p>Here at Squysh, we are proud to be on the cutting edge of melon delivery services.<br>Only our carefully-selected team makes our success possible.</p>
<!-- <a href="/application-form">Join the Team</a> -->
<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default"><a href="/application-form">Join the Team</a></button>
</div>

{% endblock %}
